body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .custom-checkbox {
  @apply w-6 h-6 appearance-none border-2 border-black cursor-pointer;
}

.custom-checkbox:checked {
  @apply text-white;
}

.custom-checkbox:checked::after {
  content: '✔';
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: black;
} */

.custom-checkbox {
  @apply w-4 h-4 appearance-none border border-black cursor-pointer relative;
}

.custom-checkbox:checked {
  @apply text-white;
}

.custom-checkbox:checked::before {
  content: '✔';
  @apply absolute text-black text-sm inset-0 flex items-center justify-center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;